<div class="login-home">
  <h2 class="subtitle">Realize login para poder acessar Softbook</h2>
  <br>

  <form role="form" method="POST" action="/login">

    <label for="usuario">Usuário:</label>
    <input id="apelido" name="apelido" type="text" required>

    <label for="senha">Senha:</label>
    <input id="senha" name="senha" type="password" required>

    <button type="submit">Entrar</button>
  </form>
</div>